<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Računalnik</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<h1>Pozdravljen, mojster!</h1>
<p>Pejva računat ...</p>

    <form method="post">
        <input type="number" name="first-num" required>

        <select name="operation">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>

        <input type="number" name="second-num" required> = <button type="submit">Rezultat</button>
</form>
</body>
</html>